App_WebReferences/BPAS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BPASConnectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SWPIntegrationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBPASConnectService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IBPASConnectService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBPASConnectService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IBPASConnectService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBPASConnectService_FetchApplications_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchApplications" />
  </wsdl:message>
  <wsdl:message name="IBPASConnectService_FetchApplications_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="IBPASConnectService_FetchCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCertificate" />
  </wsdl:message>
  <wsdl:message name="IBPASConnectService_FetchCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCertificateResponse" />
  </wsdl:message>
  <wsdl:portType name="IBPASConnectService">
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBPASConnectService/CheckUser" message="tns:IBPASConnectService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBPASConnectService/CheckUserResponse" message="tns:IBPASConnectService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBPASConnectService/RegisterUser" message="tns:IBPASConnectService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBPASConnectService/RegisterUserResponse" message="tns:IBPASConnectService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchApplications">
      <wsdl:input wsaw:Action="http://tempuri.org/IBPASConnectService/FetchApplications" message="tns:IBPASConnectService_FetchApplications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBPASConnectService/FetchApplicationsResponse" message="tns:IBPASConnectService_FetchApplications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBPASConnectService/FetchCertificate" message="tns:IBPASConnectService_FetchCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBPASConnectService/FetchCertificateResponse" message="tns:IBPASConnectService_FetchCertificate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBPASConnectService" type="tns:IBPASConnectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IBPASConnectService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IBPASConnectService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchApplications">
      <soap:operation soapAction="http://tempuri.org/IBPASConnectService/FetchApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCertificate">
      <soap:operation soapAction="http://tempuri.org/IBPASConnectService/FetchCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPASConnectService">
    <wsdl:port name="BasicHttpBinding_IBPASConnectService" binding="tns:BasicHttpBinding_IBPASConnectService">
      <soap:address location="http://203.122.8.201/bpasconnectservice/bpasconnectservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>