Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="insertrecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="objentity" nillable="true" type="q1:userregistration_propEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertrecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertrecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATERECORD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="objentity" nillable="true" type="q2:userregistration_propEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATERECORDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UPDATERECORDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEINPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="objentity" nillable="true" type="q3:userregistration_propEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEINPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckEINPCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>