App_WebReferences/ProfessionalTax/PTStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PTRegistrationStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAuthCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTokenNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPTNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PTRegistrationStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PTRegistrationStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PTRegistrationStatusSoapIn">
    <wsdl:part name="parameters" element="tns:PTRegistrationStatus" />
  </wsdl:message>
  <wsdl:message name="PTRegistrationStatusSoapOut">
    <wsdl:part name="parameters" element="tns:PTRegistrationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="PTRegistrationStatusHttpGetIn">
    <wsdl:part name="strAuthCode" type="s:string" />
    <wsdl:part name="strTokenNo" type="s:string" />
    <wsdl:part name="strPTNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PTRegistrationStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PTRegistrationStatusHttpPostIn">
    <wsdl:part name="strAuthCode" type="s:string" />
    <wsdl:part name="strTokenNo" type="s:string" />
    <wsdl:part name="strPTNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PTRegistrationStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="PTRegistrationStatus">
      <wsdl:input message="tns:PTRegistrationStatusSoapIn" />
      <wsdl:output message="tns:PTRegistrationStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="PTRegistrationStatus">
      <wsdl:input message="tns:PTRegistrationStatusHttpGetIn" />
      <wsdl:output message="tns:PTRegistrationStatusHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="PTRegistrationStatus">
      <wsdl:input message="tns:PTRegistrationStatusHttpPostIn" />
      <wsdl:output message="tns:PTRegistrationStatusHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PTRegistrationStatus">
      <soap:operation soapAction="http://tempuri.org/PTRegistrationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PTRegistrationStatus">
      <soap12:operation soapAction="http://tempuri.org/PTRegistrationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PTRegistrationStatus">
      <http:operation location="/PTRegistrationStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PTRegistrationStatus">
      <http:operation location="/PTRegistrationStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://odishatax.gov.in/PTRegistrationSatus/PTStatusService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://odishatax.gov.in/PTRegistrationSatus/PTStatusService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="https://odishatax.gov.in/PTRegistrationSatus/PTStatusService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="https://odishatax.gov.in/PTRegistrationSatus/PTStatusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>