App_WebReferences/AIMServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="userregistration_propEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CELLPHONE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRICT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EIN_PC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E_MAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enterprenenur_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INV_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INV_USERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LICENCE_NO_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SITELOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBSECTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIQUEID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userregistration_propEntity" nillable="true" type="tns:userregistration_propEntity" />
  <xs:complexType name="MISDATA">
    <xs:sequence>
      <xs:element minOccurs="0" name="MISTABLE" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MISDATA" nillable="true" type="tns:MISDATA" />
</xs:schema>